include ../../components/header/header
include  ../../components/footer/footer
include  ../../components/content/content

doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title
        block title
            | Rikabal Aviles Project
body
    +header
    +content
    +footer



