include ../nav/nav

mixin header
    header.header
        div.header__wrapper.container
            div.header__wrapper-inner
                img(class='header__logo',  src=('/src/assets/logo.png') alt='logo')
                h2.header__title BEM-HW Advanced Course
            +nav('header__nav')