@import 'normalize.css';
@import '../components/container/container.css';
@import '../components/header/header.css';
@import '../components/nav/nav.css';
@import '../components/content/content.css';
@import '../components/footer/footer.css';
@import '../components/contactForm/contactForm.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: gainsboro;
}

@media screen and (max-width: 960px) {
    .container {
        width: 576px;
    }
}

@media screen and (min-width: 961px) {
    .container {
        width: 960px;
    }
}