@import 'normalize.css';
@import '../components/container/container.scss';
@import '../components/header/header.scss';
@import '../components/nav/nav.scss';
@import '../components/content/content.scss';
@import '../components/footer/footer.scss';
@import '../components/contactForm/contactForm.css';
@import '../pages/pages-css/flex-page';
@import '../pages/pages-css/grid-page';
@import 'variables';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');



body{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  background-color: $background-color;
}

.displayBlock{
  display: block;
}

.displayNone{
  display: none;
}

.displayInline{
  display: inline;
}

@media screen and (max-width: 960px) {
  .container {
    width: 576px;
  }
}

@media screen and (min-width: 961px) {
  .container {
    width: 960px;
  }
}