mixin footer
    footer.footer
        div.footer__wrapper.container
            p.footer__info © 2020 EPAM FE-Lab/ Petro Rikabal Aviles
            div.footer__contacts
                div
                    p.footer__text For more information call me:
                    a(class='footer__tel' href="tel:+380633227749")   +38063*******,
                div
                    p.footer__text Or send me email:
                    a(class='footer__e-mail' href="email:Petro_Rikabal_Aviles@epam.com") petro_rikabal_aviles@emap.com