mixin nav(mix)
    nav.nav(class = mix)
        ul.nav__list
            li.nav__item( id='homePage')
                a(href='index.html', class='nav__link') Home Page
            li.nav__item(id='secondPage')
                a(href='second-page.html', class='nav__link') Second Page
